body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    padding: 40px;
}

/* About Me */
.my-profession {
    padding-bottom: 20px;
    margin: 0 0 18px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 17px;
    color: #000000;
}

/* Main Content  */
.main-content {
    padding: 88px;
}

.my-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 28px 0;
}

.my-description {
    width: 525px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.about-me-container {
    margin-bottom: 54px;
}

.main-content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 12px 0;
}

/* Pojects */
.projects-container {
    margin-bottom: 48px;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}

.porject-item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #005FFF;
}

.project-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.projcet-list {
    margin: 0;
    padding: 0 0 0 14px;
}

/* Work Experiance */
.work-experiance-container {
    margin-bottom: 44px;
}

.work-experiance-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.company {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #6D9BF5;
}

.work-expereance-place {
    margin-bottom: 16px;
}

.work-preiaod {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 12 0 8 0;
}

.work-dudies {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;

}

.work-duties-list {
    padding: 0 0 0 14px;
    margin: 0;
}

/* Education */
.main-content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 12px 0;
}

.education-item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #6D9BF5;
    margin: 0 0 12px 0;
}

.education-type {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 12px 0;
}

.education-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 0 0 12px 0;
}


/* Wrapper  */
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25);
}

h2 {
    font-size: 35px;
}



/* sidebar  */
.sidebar {
    width: 370px;
    background: #E0EBFE;

}

.my-photo {
    margin-top: 0px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
    margin: 48px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #161D2A;
    margin-bottom: 8px;
}

/* Contacts  */
.contacts-type {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    margin-right: 4px;
}

.contacts-item {
    margin: 0;
}

.contacts-number {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #161D2A;
}

/* Skills  */
.skills-list {
    margin: 0 0 0 16px;
    padding: 0;
}

.skills-list-item {
    color: #6D9BF5;
}

.skills-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #161D2A;
}

/* Soft Skills  */
.soft-skills-title {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #161D2A;
}

.soft-skills-list {
    margin: 0 0 0 16px;
    padding: 0;
}

.soft-skills-list-item {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #6D9BF5;
}

.soft-skills-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #161D2A;
}